@charset "UTF-8";

.job_post_wrap {
	margin-top: 100px;
	margin-bottom: 100px;
}

.job_post_head {
	/* border-bottom: 1px solid; */
	margin-bottom: 10px;
}

.company {
	width: 250px;
	margin-left: 1000px;
	margin-bottom: 10px;
}

.interest {  
 	width: 250px;
	margin-left: 1000px;
	margin-bottom: 15px; 
}

#pagination {
	margin-left: 500px;
}