@charset "UTF-8";

.profile_head {
	border-bottom: 2px solid #333;
	margin-top: 70px;
}

.profile_body {
	border: 1px solid #333;
	background-color: white;
	margin-top: 70px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

.frm_body {
	margin: 20px;
}

.prof_img {
	width: 200px;
	height: 200px;
}

.prof_save_btn {
	text-align: center;
	margin-top: 50px;
}

.prof_ele {
	margin-top: 20px;
	margin-bottom: 10px;
}

.img_frm {
	background-color: #FAF4C0;
	padding: 20px;
	margin-bottom: 50px;
}

.prof_frm {
	background-color: #FAF4C0;
	padding: 20px;
}