@charset "UTF-8";

.portfolio_wrap {
	height: 600px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.portfolio_head {
	margin-bottom: 30px;
}

.portfolioBtn {
	margin-bottom: 20px;
	margin-left: 1000px;
	font-size: 25px;
	background-color: #494949;
	color: #FFFFFF;
	border: 1px solid #494949;
	border-radius: 5px;
}

.portfolioTable {
	margin-top: 10px;
	margin-left: 20px;
}

.deleteBtn {
	font-size: 18px;
	background-color: #494949;
	color: #FFFFFF;
	border: 1px solid #494949;
	border-radius: 5px;
}